/*
Copyright (C) 2011, 2012, 2013, 2014  Michał Marschall

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
	background: #053a50;
	color: #ffffff;
	font-size: 12pt;
}

img {
	max-width: 100%;
	margin: 8px 0px;
	display: block;
}

img.border {
	/*border: 1px solid #ffffff;*/
}

p {
	width: 100%;
	margin: 8px 0;
	text-align: justify;
}

ul {
	margin: 0;
	padding: 0 0 0 28px;
}

li {
	margin: 0;
	padding: 0;
}

.button {
	font-style: italic;
}
